@charset "UTF-8";
/*nesting o anidamiento siemrpe debe estar la terminal abierta*/
/*PARA INICIAR SASS poner en consola; npm init
sass --watch scss/style.scss css/style.css*/
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

header {
  font-family: "Nunito", sans-serif;
  font-size: 1.7rem;
  font-weight: 800;
}
header .height {
  height: 10rem;
  background-color: #e9e2c4;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%23000000' fill-opacity='0.07' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
}

header img {
  margin: 0 3rem;
}

header ul {
  position: relative;
  left: 32%;
}
header ul li {
  margin: 0 2rem;
}

.position-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-container {
  width: 100%;
  height: 140px;
  background-color: #e9e2c4;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%23000000' fill-opacity='0.07' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
  display: flex;
  justify-content: space-between;
}

.contact-container {
  /* border: 1px solid rgb(18, 231, 178); */
  width: 30%;
  height: 100px;
  margin-top: 1%;
  margin-left: 1%;
}
.contact-container a {
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  color: #000000;
}
.contact-container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* border: 1px solid red; */
  width: 80%;
  margin-top: 7px;
}
.contact-container li {
  list-style: none;
}

.container-logo-footer {
  position: relative;
}

.logo-footer {
  position: relative;
  margin-top: 24px;
}

.container-map {
  width: 30%;
  /* border: 1px solid rgb(0, 195, 255); */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 20px;
  height: 120px;
  margin-top: 0.25%;
  /* flex-wrap: wrap; */
  overflow: hidden;
}
.container-map p {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  color: #000000;
  position: relative;
  left: -30px;
  text-align: center;
  margin-top: 1.5%;
}

.tamaño-iconos-redes {
  object-fit: contain;
  width: 40px;
}

/*# sourceMappingURL=style.css.map */
