/* ------------------ WORK WITH US -------------------------- */

.workwithus-bg {
    background-color: rgb(0, 0, 0);
    /* border: 2px solid red; */
  
  
  }
  
  .container-work-with-us {
    width: auto;
    height: 100vh;
    position: relative;
    top: 100%;
    display: flex ;
    align-items: center;
    justify-content: center;
  }


  .title-size {
    font-size: 5rem;
    color: #e9e2c4;
    text-align: center;
  }
  
  .paragraph-size {
    font-size: 4rem;
    color: #e9e2c4;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media only screen and (max-width: 450px) {

  }

  /* tablet */
@media (min-width: 451px) and (max-width: 960px) {

 
}